* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-3);
  color: var(--color-2);
}

:root {
  --open-sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --raleway: "Raleway", sans-serif;
  --color-1: #040b14;
  --color-2: #149ddd;
  --color-3: #ffffff;
  --color-4: #000000;
  --color-5: #2c2f3f;
  --color-6: #173b6c;
  --color-7: #f5f8fd;
}

body a {
  text-decoration: none;
}

body {
  padding-left: 300px;
}

/********************************************************************************************
SIDEBAR START 
*********************************************************************************************/

#sidebar {
  /* border: 1px solid #000; */
  background-color: var(--color-1);
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 15px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#sidebar .sidebar-header {
  /* border: 1px solid #f00; */
  width: 100%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sidebar .img-div {
  border: 8px solid var(--color-5);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px 0px;
}

#sidebar .img-div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#sidebar .sidebar-header a {
  font-size: 1.5rem;
  color: var(--color-3);
  text-align: center;
  font-weight: 600;
}

#sidebar .sidebar-social-icon {
  /* border: 1px solid #fff; */
  width: 80%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#sidebar .sidebar-social-icon i {
  /* border: 1px solid #fff; */
  color: var(--color-3);
  background-color: var(--color-5);
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}

#sidebar .sidebar-social-icon i:hover {
  background-color: var(--color-2);
}

#sidebar .sidebar-menu {
  /* border: 1px solid #fff; */
  width: 100%;
  height: 480px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-menu .menu-box {
  /* border: 1px solid #fff; */
  width: 100%;
  padding: 5px 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-menu .menu-box i {
  color: #6f7180;
  margin: 10px;
}

.sidebar-menu .menu-box:first-child i {
  color: var(--color-2);
}

.sidebar-menu .menu-box:first-child a {
  color: var(--color-2);
  border-bottom: 2px solid var(--color-2);
}

.sidebar-menu .menu-box a {
  color: #6f7180;
  font-size: 1rem;
}

.sidevar-copyright {
  /* border: 1px solid #fff; */
  padding: 10px 0px;
}

.sidevar-copyright p {
  color: var(--color-3);
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
}
/********************************************************************************************
SIDEBAR END
*********************************************************************************************/

/********************************************************************************************
section 1 start
*********************************************************************************************/

#section1 {
  /* border: 1px solid #f00; */
  width: 100%;
  height: 100dvh;
  position: relative;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.705),
      rgba(0, 0, 0, 0.664)
    ),
    url(Image/header.jpg);
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

#section1 h1 {
  font-size: 4rem;
  color: var(--color-3);
  padding-left: 50px;
  padding-top: 250px;
  font-family: var(--raleway);
}

#section1 h2 {
  font-size: 1.5rem;
  color: var(--color-3);
  font-weight: 300;
  margin-left: 50px;
  font-family: var(--raleway);
}

#section1 a {
  font-size: 1.2rem;
  color: var(--color-3);
  border: 1px solid #fff;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 20px;
  padding: 5px 40px;
  backdrop-filter: blur(10px);
  transition: 0.2s;
}

#section1 a:hover {
  color: var(--color-2);
  border: 1px solid var(--color-2);
  box-shadow: 0px 0px 50px 0px var(--color-2);
}

/********************************************************************************************
section 1 END
*********************************************************************************************/

/********************************************************************************************
section 2 start
*********************************************************************************************/

#section2 {
  width: 100%;
  min-height: 100dvh;
  padding-left: 30px;
  padding-right: 30px;
}

#section2 h1 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  font-family: var(--raleway);
}

#section2 h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6%;
  height: 3px;
  background-color: var(--color-2);
}

#section2 p {
  margin-top: 20px;
  color: var(--color-5);
  font-weight: 400;
}

.about-main-div {
  /* border: 1px solid #000; */
  width: 100%;
  height: 27rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-main-div .about-main-left {
  /* border: 1px solid #000; */
  width: 60%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about-main-div .about-main-left h3 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 10px;
}

.about-main-div .about-main-left h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: var(--color-2);
}

.about-main-div .about-main-left h4 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  font-size: 1.2rem;
  position: relative;
  padding-top: 10px;
}

.about-main-div .about-main-right {
  /* border: 1px solid #000; */
  width: 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.about-main-div .about-main-right img {
  /* border: 1px solid #000; */
  width: 100%;
  /* height: 50%; */
  object-fit: contain;
}

/********************************************************************************************
section 2 END
*********************************************************************************************/

/********************************************************************************************
section 3 START
*********************************************************************************************/

#section3 {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--color-7);
  padding-left: 30px;
  padding-right: 30px;
}

#section3 h1 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  font-family: var(--raleway);
}

#section3 h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6%;
  height: 3px;
  background-color: var(--color-2);
}

#section3 h2 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  font-size: 1.5rem;
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  font-family: var(--raleway);
}

#section3 h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6%;
  height: 3px;
  background-color: var(--color-2);
}

#section3 .icon-main-div {
  /* border: 1px solid #000; */
  width: 100%;
  min-height: 25rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#section3 .icon-main-div .icon-div {
  /* border: 1px solid #000; */
  width: 200px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-main-div .icon-div .icon {
  /* border: 1px solid #000; */
  width: 100%;
  height: 70%;
}

.icon-main-div .icon-div .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-main-div .icon-div .icon-name {
  /* border: 1px solid #000; */
  width: 100%;
  height: 30%;
  color: var(--color-5);

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/********************************************************************************************
section 3 END
*********************************************************************************************/

/********************************************************************************************
section 4 START
*********************************************************************************************/

#section4 {
  /* border: 1px solid #000; */
  width: 100%;
  min-height: 100dvh;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  align-items: flex-start;
  justify-self: center;
}

#section4 h1 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  font-family: var(--raleway);
}

#section4 h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6%;
  height: 3px;
  background-color: var(--color-2);
}

#section4 h2 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  font-size: 1.5rem;
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  font-family: var(--raleway);
}

#section4 h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 3px;
  background-color: var(--color-2);
}

#section4 p {
  margin-top: 20px;
  color: var(--color-5);
  font-weight: 400;
}

.section4-left {
  /* border: 1px solid #000; */
  width: 60%;
  height: 39rem;
}

.section4-right {
  /* border: 1px solid #000; */
  width: 60%;
  height: 39rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section4-right img {
  /* width: 100%; */
  height: 95%;
  object-fit: contain;
  border: 1px solid gray;
  box-shadow: 0px 0px 50px 0px rgba(128, 128, 128, 0.315);
}

/********************************************************************************************
section 4 END
*********************************************************************************************/

/********************************************************************************************
section 5 START
*********************************************************************************************/

#section5 {
  width: 100%;
  min-height: 150dvh;
  background-color: var(--color-7);
  padding-left: 30px;
  padding-right: 30px;
}

#section5 h1 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  font-family: var(--raleway);
}

#section5 h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6%;
  height: 3px;
  background-color: var(--color-2);
}

#section5 h2 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  font-size: 1.5rem;
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  font-family: var(--raleway);
}

#section5 h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 3px;
  background-color: var(--color-2);
}

#section5 li {
  margin-top: 20px;
  color: var(--color-5);
  font-weight: 400;
}

#section5 h4 {
  /* border: 1px solid #000; */
  color: var(--color-6);
  font-family: var(--raleway);
  font-size: 1.2rem;
  position: relative;
  padding-top: 10px;
}

#section5 .project-main-div {
  /* border: 1px solid #000; */
  width: 100%;
  height: 28rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#section5 .project-main-div .project-div-left {
  /* border: 1px solid #000; */
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#section5 .project-main-div .project-div-right {
  /* border: 1px solid #000; */
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#section5 .project-main-div .project-div-right img,
#section5 .project-main-div .project-div-left img {
  width: 100%;
  object-fit: contain;
  scale: 0.8;
  transition: 0.6s;
}

#section5 .project-main-div .project-div-right img:hover,
#section5 .project-main-div .project-div-left img:hover {
  scale: 1;
}
/********************************************************************************************
section 5 END
*********************************************************************************************/
